
*{
 box-sizing: border-box;
}

body{
 font-size: 16px;
 color: #fff;
 background-color: #61122f;
 font-family: 'Oxygen', Sans-serif ;
}

#header-nav{
	background-color: #f6b319;
	border: 0px;
	border-radius: 0px;
}

#logo-img{
	/*background-image: url('/data/abhishek_kr.png');
	background-image: url('/data/abhishek_kr.png') no-repeat;*/
	width: 150px;
	height: 150px;
	margin:10px 15px 10px 0px; 
}
/* Tried to load image without using img tag
#logo-image{
	background: url("/data/abhishek_kr.png") no-repeat;
	height="100%";
    width="100%";
} */

/*  Margin for my name
#head-name{
	margin-left: 5%;
} */  


.navbar-brand h1{
	font-family: 'lora',serif;
	color: #557c3e;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	
	line-height: .75;
}
/*This is for removing the underline or others while focus on Abhishek Kumar*/
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}
/*This is for national insti......*/
.navbar-brand p {
	color: #000;
	text-transform: uppercase;
	font-size: .7em;
	margin-top: 15px;
}
/*This is to put national institu.... in middile align in vertical */
.navbar-brand p span {
	vertical-align: middle;
}

#nav-list{
	margin-top: 10px;
}

#nav-list a{ 
  color: #951C49;
  text-align: center;
}

#nav-list a:hover{
	background: #E7E7E7;
}

#nav-list a span{
	font-size: 1.5em;
}

#findme { 
	margin-top: 5px;
}

#findme a {  /*This is for ping me*/
	text-align: right;
	padding-bottom: 0;
}

#findme div {  /*This is for I deliver...*/
	color: #557c3e;
	text-align: right;
	padding-right: 15px;
}
/* for making colorfull border of navigation button*/
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border:1px solid #61122f;
}

.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -30px; 
}

/*#collapsable-nav a {
	font-size: 1.2em;
}*/

/*For Icon and menu name after the toggle unlocked*/
#collapsable-nav a span{
	font-size: 1em;
	margin-right: 5px;
}
/*End Header section*/

/*main content started*/

.container .jumbotron{
	border-radius: 5px;
	box-shadow: 0 0 50px #3F0C1F;
	border: 2px solid #3F0C1F;
}

#myskills-tile, #single-tile, #map-tile{
     height: 250px;
     width: 100%;
     border: 2px solid #3F0C1F;
     margin-bottom: 15px;
     overflow: hidden;
     position: relative;
}

#myskills-tile:hover, #single-tile:hover, #map-tile:hover{
	box-shadow: 0 1px 5px 1px #cccccc;
}

#myskills-tile{
	background: url("../data/skills.jpg") no-repeat;
	background-position: center;
}

#single-tile{
	background: url("../data/awards.jpg") no-repeat;
	background-position: center;
}

/* To display the skills,awards on image at bottom*/
#myskills-tile span, #single-tile span, #map-tile span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000;
	color:#fff;
	opacity: 0.8;
}
/*End home page*/

/*MY skills page*/
.catagory-tile{
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
	width: 206px;
	height: 2 00px;
	margin: 0 auto 15px;
}

.catagory-tile span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: #000;
	color:#fff;
	opacity: 0.8;
}

.catagory-tile:hover{
	box-shadow: 0 1px 5px 1px #cccccc;
}

#skills-catagories-title + div{
	margin-bottom: 50px;
}
/*Footer Start*/
.panel-footer{
   margin-top: 30px;
   padding-top: 35px;
   padding-bottom: 30px;
   background-color: #222;
   border-top: 0;
}

.panel-footer div.row{
	margin-bottom: 35px;
}

#hours, #address{
	line-height: 2;
}

#hours > span, #address > span{
  font-size: 1.3em;
}

#address p{
	color: #557c3e; /*Green*/
    font-size: .8em;
    line-height: 1.8;
}

#testinomials{
	font-style: italic;
}
#testinomials p:nth-child(2){
	margin-top: 25px; 
}

/*For large device only*/
@media(min-width: 1200px){
.container .jumbotron{
	background: url('../data/Capture1200.png') no-repeat;
	height: 300px;
 }

}
/*For medium device only*/
@media(min-width: 992px) and (max-width: 1199px){
	/*This is for when name length will be more the there will be aligning problem */
	 #logo-img{
		width: 100px;
	    height:100px;
	    margin:5px 5px 5px 0px; 
     }

    .container .jumbotron{
	background: url('../data/Capture992.png') no-repeat;
	height: 300px;
}

}

/* For small device only */
@media (min-width: 768px) and (max-width: 991px){
   .jumbotron{
	background: url('../data/Capture768.png') no-repeat;
	padding: 0;
	height: 300px;/*This will be according to the image height*/
 }
}

/*For extra small device only*/
@media(max-width: 767px){
     .navbar-brand{
     	padding-top: 10px;
     	height: 80px;
     }

     .navbar-brand h1 {
     	padding-top: 10px;
     	font-size: 5vw; /*1vw = 1% of viewport*/
     }

     .navbar-brand p {
     	font-size: .6em;
     	margin-top: 12px;
     }

     .navbar-brand p img {
     	height: 20px;
     }
     
     #call-btn > a{/*This is for Ping me in mobile size*/
           display: block;
           background-color: #f6b319;
           margin:0 20px;
           color: #951C49;
           padding: 10px;
           border: 2px solid #fff;
           font-size: 1.2em; 
     }
      /*This is for * I develope in mobile size*/
     #xs-deliver{
     	margin-top: 10px;
     	font-size: .7em;
     	letter-spacing: .1em;
     	text-transform: uppercase;
     }

     /*Header section end*/
     .container .jumbotron{ /*Added container to update padding*/
     	margin: 20px;
        padding: 0;
     }
/*To display the image correctly*/
     #myskills-tile, #single-tile{
     /*max-width: 360px;*/
     max-width: 360px;
     margin:0 auto 15px;
     }
     /*Footer start*/
     .panel-footer section{
     	margin-bottom: 30px;
     	text-align: center;
     }
     .panel-footer section:nth-child(3){
     	margin-bottom: 0;/**/
     }

     .panel-footer section hr{
     	width: 50%;
     }
     /*End Footer*/
}

/*For extra small devices like iphone 4*/
@media(max-width: 479px){
	/*Header*/
	.navbar-brand h1 {/*My Name*/
         padding-top: 5px;
         font-size: 6vw;
	}

    /*Defining own column*/
    .col-xxs-12{
    	position: relative;
    	min-height: : 1px;
    	padding-left: 15px;
    	padding-right: 15px;
    	float: left;
    	width: 100%;
    }

}